NODE_ENV=   # production, development, test
NEXTAUTH_URL=   # You can put this the same as your base URL or the URL which you are redirecting to for authentication
NEXTAUTH_SECRET=    # Put your NEXTAUTH SECRET HERE
NEXT_PUBLIC_BASE_URL=http://localhost:3000  # Depends on your base URL, like the domain or your website, wehen in production

# Razorpay Creds
NEXT_PUBLIC_RAZORPAY_KEY_ID=    # Put your RAZORPAY KEY ID HERE TO BE ACCESSED BY THE CLIENT
RAZORPAY_KEY_ID=    # Put your RAZORPAY KEY ID HERE
RAZORPAY_KEY_SECRET=    # Put your RAZORPAY KEY SECRET HERE

# Recommended for most uses
DATABASE_URL=   # Put your PostgreSQL database URL here